
modules = ["nodejs-20", "web"]
run = "cd react && npx nx serve devin-test-react"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "cd react && npx nx serve devin-test-react"]

[[ports]]
localPort = 4202
externalPort = 80

[[ports]]
localPort = 4203
externalPort = 3000

[[ports]]
localPort = 4204
externalPort = 3001
