
modules = ["nodejs-20", "web"]
run = "cd react && npx nx serve devin-test-react"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "cd react && npx nx serve devin-test-react"]

[[ports]]
localPort = 4201
externalPort = 80
